@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

img {
  width: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

/* NAVBAR */

.mynavbar {
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}

.navbar-title {
  letter-spacing: 0.1rem;
}

.nav-img {
  width: 5vw;
}


/* HEADER */

.header{
  color: rgba(41, 39, 39, 0.75);
  letter-spacing: 0.1rem;
  font-weight: bold;
}

/* FORM */


.form-container {
  max-width: 60vw !important;
  box-shadow: 0px 0px 7px 3px rgba(26, 24, 24, 0.4);
  border-radius: 3px;
  background-color: rgba(143, 141, 138, 0.8);
}

.form-container p {
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(20, 19, 19, 0.75);
}

.form-container i {
  font-size: 1.4rem;
}

.house{
  color: rgba(41, 134, 29, 0.8);
}

.pin {
  color: rgb(230, 71, 31);
}

.phone {
  color: rgb(25, 95, 199);
}

.star {
  color: rgba(214, 204, 55, 0.8)
}

.submit-button {
  font-size: 1.4rem !important;
}

.clean-button {
  font-size: 1.3rem !important;
}

.form-subcontainer {
  text-align: center;
}

.result-container{
  width: 60vw;
}

.value-box{
  border: solid rgba(211, 201, 201, 0.4) 0.5px;
  padding: 4px;
  border-radius: 2px;
  background-color: rgba(243, 240, 235, 0.8);
  box-shadow: 0px 0px 9px 2px rgba(182, 174, 174, 0.4);
}

.value-box h3 {
  font-weight: bold;
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
}

.value-box h4 {
  font-size: 2rem;
}

.value-green{
  font-weight: bolder;
  color: green;
}

.value-red {
  font-weight: bolder;
  color: red;
}

.footer {
  background-color: rgba(218, 214, 214, 0.75);
}

.footer h4 {
  font-size: 1.2rem;
}

@media (max-width: 480px) {

  .navbar-title {
    font-size: 2rem;
  }
  
  .nav-img {
    width: 18vw;
  }
  
  .form-container {
    max-width: 90vw !important;
  }

  .header{
    text-align: center;
    font-size: 1.9rem;
  }

  .result-container{
    width: 96vw;
  }

  .value-box {
    width: 45vw;
    border: solid 1px grey;
    margin: 0 1vw;
  }

  .value-box h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  .value-box h4 {
    font-size: 1rem;
    text-align: center;
  }
  
  .value-green{
    font-weight: bolder;
    color: green;
  }
  
  .value-red {
    font-weight: bolder;
    color: red;
  }
  
}

@media (min-width: 480px) and (max-width: 778px) {
  
  .navbar-title {
    font-size: 2rem;
  }
  
  .nav-img {
    width: 18vw;
  }
  
  .form-container {
    max-width: 90vw !important;
  }

  .header{
    text-align: center;
    font-size: 1.9rem;
  }

  .value-box{
    border-top: solid 1px;
    border-bottom: solid 1px;
  }
  
  .value-box h3 {
    font-size: 1.7rem;
    text-align: center;
  }
  
  .value-box h4 {
    font-size: 1.7rem;
  }
}
